
 <section class="featuredIconSection" style="background-color:{{ section.settings.sectionBg }};" >
  <div class="page-width flex" >
    
      
    
 {% for block in section.blocks %}
      <div class="featuredIcon">
     
      
        <div>
          {% if block.settings.svg %} 
           {{ block.settings.svg }} 
        {% endif %}

           
        {%- if block.settings.title -%}
          <h3>{{ block.settings.title }}</h3>
        {%- endif -%}
        {%- if block.settings.content -%}
          <p>{{ block.settings.content }}</p>
        {%- endif -%}
        </div>

          
        
      </div>
      {% endfor %}
         
    
  </div>
     
    
</section>

<!--
<svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M388.352 10.432A48 48 0 0 1 448 56.96V96h16A48 48 0 0 1 512 144v288a48 48 0 0 1 -48 48h-416A48 48 0 0 1 0 432v-288a48 48 0 0 1 45.824 -47.968L388.352 10.432zM177.984 96H416V56.96a16 16 0 0 0 -19.872 -15.488L177.984 96zM48 128a16 16 0 0 0 -16 16v288a16 16 0 0 0 16 16h416a16 16 0 0 0 16 -16v-288a16 16 0 0 0 -16 -16h-416z"></path></svg>
              


<svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M153.6 72.5332H34.1328V89.6002H153.6V72.5332ZM8.533 106.667H332.8C337.519 106.667 341.333 110.49 341.333 115.2V166.4H426.665C429.567 166.4 432.272 167.876 433.842 170.317L510.642 289.784C511.53 291.157 511.999 292.77 511.998 294.4V388.267C511.998 392.986 508.184 396.8 503.465 396.8H460.088C456.015 420.989 434.929 439.467 409.598 439.467C384.268 439.467 363.181 420.988 359.109 396.799H332.901C332.867 396.8 332.834 396.8 332.8 396.8H169.955C165.882 420.988 144.796 439.467 119.466 439.467C94.1351 439.467 73.0488 420.988 68.9762 396.8H8.533C3.823 396.8 0 392.986 0 388.267V115.2C0 110.49 3.823 106.667 8.533 106.667ZM68.9765 379.733C73.0498 355.546 94.1358 337.067 119.466 337.067C144.795 337.067 165.881 355.546 169.955 379.733H324.266V362.667H179.199V345.6H324.266V174.933L324.266 174.87L324.266 174.823L324.267 174.779V157.867H34.1328V140.8H324.267V123.733H17.067V345.6H59.7352V362.667H17.067V379.733H68.9765ZM341.333 379.732H359.109C363.183 355.545 384.269 337.067 409.598 337.067C434.929 337.067 456.015 355.546 460.088 379.734H494.932V362.667H469.332V345.6H494.932V296.909L493.318 294.399H366.931C362.212 294.399 358.398 290.585 358.398 285.866V209.066C358.398 204.356 362.212 200.533 366.931 200.533H432.976L422.006 183.467H341.333V379.732ZM482.347 277.332L443.731 217.264V217.6H375.464V277.332H482.347ZM119.466 422.4C100.641 422.4 85.3326 407.091 85.3326 388.267C85.3326 369.442 100.642 354.134 119.466 354.134C138.29 354.134 153.599 369.443 153.599 388.267C153.599 407.091 138.29 422.4 119.466 422.4ZM409.598 422.4C390.773 422.4 375.465 407.091 375.465 388.267C375.465 369.442 390.774 354.134 409.598 354.134C428.423 354.134 443.731 369.443 443.731 388.267C443.731 407.091 428.423 422.4 409.598 422.4ZM128.001 379.733H110.934V396.8H128.001V379.733ZM401.066 379.733H418.133V396.8H401.066V379.733ZM0 72.5332H17.067V89.6002H0V72.5332Z"></path></svg>


<svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M96 80a80 80 0 0 1 160 0 80 80 0 0 1 160 0v0.192c0 2.24 0 8.64 -1.216 15.808H480a32 32 0 0 1 32 32v64a32 32 0 0 1 -32 32v240a48 48 0 0 1 -48 48h-352A48 48 0 0 1 32 464V224a32 32 0 0 1 -32 -32V128a32 32 0 0 1 32 -32h65.216A94.976 94.976 0 0 1 96 80.192V80zm34.176 16H224v-16a48 48 0 1 0 -96 0c0 2.72 0.064 8.768 1.44 13.76a16.704 16.704 0 0 0 0.736 2.24zM288 96h93.824a17.92 17.92 0 0 0 0.736 -2.24c1.376 -4.992 1.44 -11.04 1.44 -13.76a48 48 0 0 0 -96 0V96zM32 128v64h192V128H32zm256 0v64h192V128H288zm160 96H288v256h144a16 16 0 0 0 16 -16V224zm-224 256V224H64v240a16 16 0 0 0 16 16H224z"></path></svg>
-->

{% schema %}
  {
    "name": "Featured Icon Box", 
    "settings": [
      
      {
        "type":"color",
        "id":"sectionBg",
        "label":"Section background"
      }
    ],
    "blocks":[
      {
        "type":"testimonials",
        "name":"Testimonials",
        "settings":[
            {
              "type": "text",
              "id": "title",  
              "label": "Title"
            },
            {
              "type": "textarea",
              "id": "content",
              "label": "Content"
            },
            {
              "type": "textarea",
              "id": "svg",  
              "label": "Icon SVG Code"
            } 
        ]
      }
    ],
       
    "presets":[
      {
        "name":"Featured Icon Box"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  
 
  
{% endjavascript %}